header{
    border-style: solid;
    border-width: 1px;
    padding: 10px;
    background-color: rgb(204,204,204);
    display: flex;
    justify-content : flex-end;

}

a,h2{
    color: grey;
    padding: 10px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

* {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
    -webkit-font-smoothing: default
}

.content {
    margin: 20px;
}

.product{
    text-decoration: none;
    font-size: 20px;
    color: red;
}

.products {
    display: flex;
    flex-direction:column;
    margin: 20px;
}

